name: home_care
description: "منصة الرعاية الصحية المنزلية"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  google_fonts: ^6.1.0
  provider: ^6.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
#
#  # الأصول والصور
#  assets:
#    - assets/images/
#    - assets/icons/
#    - assets/animations/